<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Vue基础教程_唯实讲堂_www.ForTen.org</title>
</head>
<body>
<div id="my-div">
    <form>
        <input v-model="search.name"/>
        <input v-model="search.minPrice"/>
        <input v-model="search.maxPrice"/>
        <button type="button" @click="showData">查询</button>
        <button type="button" @click="del">删除</button>
    </form>
    <table border="1">
        <thead>
        <tr>
            <th>序号</th>
            <th>书名</th>
            <th>作者</th>
            <th>出版社</th>
            <th>折扣价</th>
            <th>折扣</th>
            <th>原价</th>
            <th>页数</th>
            <th>出版日期</th>
            <th><input type="checkbox" @change="toggleSelect"/></th>
        </tr>
        </thead>
        <tbody>
        <tr v-for="(b,index) in books">
            <td>{{index+1}}</td>
            <td>{{b.name}}</td>
            <td>{{b.author}}</td>
            <td>{{b.publisher}}</td>
            <td>{{b.finalPrice | showPrice('￥','元')}}</td>
            <td>{{b.discount | showDiscount}}</td>
            <td>{{b.price | showPrice('￥','元')}}</td>
            <td>{{b.page}}</td>
            <td>{{b.pubDateStr}}</td>
            <td>
                <input type="checkbox" v-model="ids" :value="b.id" name="ids"/>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<script src="../js/axios.js"></script>
<script src="../js/jquery-3.2.1.js"></script>
<script src="../js/vue.js"></script>
<script>
    var vm = new Vue({
        el: '#my-div',
        data: {
            search: {},
            books: [],
            ids: []
        },
        created: function () {
            this.showData();
        },
        methods: {
            showData: function () {
                console.log(this.search);
                axios({
                    method: "POST",
                    url: 'list.do',
                    data: this.search
                }).then((res) => {
                    this.books = res.data;
                }).catch(function (err) {
                    console.log(err);
                });
            },
            toggleSelect: function (event) {
                var saInput = event.target;
                this.ids = [];
                if (saInput.checked) {
                    var idChecks = document.getElementsByName('ids');
                    for (var i = 0; i < idChecks.length; i++) {
                        this.ids.push(idChecks[i].value);
                    }
                }
            }, del: function () {
                if (this.ids.length > 0) {
                    console.log(this.ids.join(','));
                    axios({
                        method: "POST",
                        url: 'delete.do',
                        data: this.ids
                    }).then((res) => {
                        for (var i = 0; i < this.ids.length; i++) {
                            for (var j = 0; j < this.books.length; j++) {
                                if (this.books[j].id == this.ids[i]) {
                                    this.books.splice(j, 1);
                                    break;
                                } else {
                                    continue;
                                }
                            }
                        }
                        this.ids=[];
                        alert(res.data.message);
                    }).catch(function (err) {
                        console.log(err);
                    });
                }else{
                    alert("请选择要被删除的数据。");
                }
            }
        }, filters: {
            showDiscount: function (discount) {
                return (discount * 10) + "折";
            }
        }
    });
    // 全局过滤器
    Vue.filter('showPrice', function (price, sign, unit) {
        return sign + price + unit;
    });
</script>
</body>
</html>