<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Vue基础教程_唯实讲堂_www.ForTen.org</title>
</head>
<body>
<div id="my-div">
    <form>
        <input v-model="search.name"/>
        <input v-model="search.minPrice"/>
        <input v-model="search.maxPrice"/>
        <button type="button" @click="showData">查询</button>
    </form>
    <table border="1">
        <thead>
        <tr>
            <th>序号</th>
            <th>书名</th>
            <th>作者</th>
            <th>出版社</th>
            <th>折扣价</th>
            <th>折扣</th>
            <th>原价</th>
            <th>页数</th>
            <th>出版日期</th>
        </tr>
        </thead>
        <tbody>
        <tr v-for="(b,index) in books">
            <td>{{index+1}}</td>
            <td>{{b.name}}</td>
            <td>{{b.author}}</td>
            <td>{{b.publisher}}</td>
            <td>{{b.finalPrice | showPrice('￥','元')}}</td>
            <td>{{b.discount | showDiscount}}</td>
            <td>{{b.price | showPrice('￥','元')}}</td>
            <td>{{b.page}}</td>
            <td>{{b.pubDateStr}}</td>
        </tr>
        </tbody>
    </table>
</div>
<script src="../js/axios.js"></script>
<script src="../js/jquery-3.2.1.js"></script>
<script src="../js/vue.js"></script>
<script>
    var vm = new Vue({
        el: '#my-div',
        data: {
            search: {},
            books: []
        },
//        created:function(){
//            this.showData();
//        },
        mounted:function(){
            this.$nextTick(function(){
                this.showData();
            });
        },
        methods: {
            showData: function () {
                console.log(this.search);
                axios({
                    method: "POST",
                    url: 'list.do',
                    data: vm.search
                }).then(function (response) {
                    vm.books = response.data;
                }).catch(function (err) {
                    console.log(err);
                });
            }
        },filters:{
            showDiscount:function(discount){
                return (discount*10) + "折";
            }
        }
    });
    // 全局过滤器
    Vue.filter('showPrice',function(price,sign,unit){
        return sign + price + unit;
    })
</script>
</body>
</html>