<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Bootstrap教程-Java全栈工程师培训-唯实讲堂-www.ForTen.org</title>
</head>
<body>
<div id="save-div">
    <form>
        <div>
            <label>书名</label>
            <input v-model="book.name"/>
        </div>
        <div>
            <label>作者</label>
            <input v-model="book.author"/>
        </div>
        <div>
            <label>出版社</label>
            <input v-model="book.publisher"/>
        </div>
        <div>
            <label>价格</label>
            <input v-model="book.price"/>
        </div>
        <div>
            <label>页数</label>
            <input v-model="book.page" type="number"/>
        </div>
        <div>
            <label>折扣</label>
            <input min="0.01" max="1.0" step="0.01" v-model="book.discount" type="range"/>
            <span>{{book.discount}}</span>
        </div>
        <div>
            <label>出版日期</label>
            <input v-model="book.pubDate" type="date"/>
        </div>
        <div>
            <button type="button" @click="save">提交</button>
        </div>
    </form>
    <form>
        <input v-model="search.name"/>
        <input v-model="search.minPrice"/>
        <input v-model="search.maxPrice"/>
        <button type="button" @click="list">查询</button>
    </form>
</div>
<script src="../js/axios.js"></script>
<script src="../js/jquery-3.2.1.js"></script>
<script src="../js/vue.js"></script>
<script>
    var vm = new Vue({
        el: '#save-div',
        data: {
            book: {discount: 0.9}
        },
        methods: {
            save: function () {
                console.log(this.book);
                axios({
                    method: "POST",
                    url: 'save.do',
                    data: this.book
                }).then(function (response) {
                    console.log(response);
                    alert(response.data.message);
                }).catch(function (err) {
                    console.log(err);
                });
            }
        }
    });
</script>
</body>
</html>